body {
    margin: 0;
    background-image: url(../imgs/background.png);
    background-attachment: fixed;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.entire-page {
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-wrap: anywhere;
    background-image: linear-gradient(rgb(95, 32, 32), rgb(37, 13, 13));
    border-left:rgba(95, 32, 32, 0.281) inset 5px;
    box-shadow: 6px 0px 6px black;
    width:18vw;
    min-height: 100vh;
}

.header img {
    width:100%;
}

.logo {
    margin-top: 15px;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%{
       transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(-90deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

.pages {
    margin-top: 60px;
    font-size: 24px;
    display: flex;
    gap:40px;
    flex-direction: column;
}

.headtab {
    text-decoration:none;
    color:white;
    background-color: transparent;
    font-size: 36px;
    font-weight: bold;
    border: solid black 4px;
    box-shadow: -6px -6px 0 black;
    padding: 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    width:100%;
}

.headtab:hover {
    transform: scale(1.11);
    box-shadow: black 6px 6px 0;
    text-shadow: rgb(120, 120, 120) 0 3px;
    background-color: rgba(184, 184, 184, 0.075);
    border-radius: 6px;
}

a:link, a:visited {
    color: white;
}

button a {
    display: block;
}

.h2h {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: solid white 5px;
    box-shadow: black 0 0 10px;
    text-shadow: black 0 0 10px;
    padding:15px;
    font-weight: bold;
    text-align: center;
    font-size: 88px;
    margin:20px;
    margin-top: 0;
    margin-left:23px;
}

#container {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    grid-gap: 5px;
    grid-template-rows: repeat(var(--grid-rows), 31px);
    grid-template-columns: repeat(var(--grid-cols), 51px);
  }

  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(126, 126, 126);
    font-size: 18px;
    box-shadow: inset black 0 0 1.5px;
    font-style: italic;
    font-weight: bold;
    width:47px;
    height: 27px;
    padding:3px;
    border: 3px solid black;
    text-align: center;
  }

  #h2h-0, #h2h-30, #h2h-60, #h2h-90, #h2h-120, #h2h-150, #h2h-180, #h2h-210, #h2h-240, #h2h-270, #h2h-300, #h2h-330, #h2h-360, #h2h-390, #h2h-420,
  #h2h-450, #h2h-480, #h2h-510, #h2h-540, #h2h-570, #h2h-600, #h2h-630, #h2h-660, #h2h-690, #h2h-720, #h2h-750, #h2h-780, #h2h-810, #h2h-840 {
    background-color: black;
  }

  #h2h-1, #h2h-2, #h2h-3, #h2h-4, #h2h-5, #h2h-6, #h2h-7, #h2h-8, #h2h-9, #h2h-10, #h2h-11, #h2h-12, #h2h-13, #h2h-14, #h2h-15, #h2h-16, #h2h-17,
  #h2h-18, #h2h-19, #h2h-20, #h2h-21, #h2h-22, #h2h-23, #h2h-24, #h2h-25, #h2h-26, #h2h-27, #h2h-28, #h2h-29, #h2h-58, #h2h-87, #h2h-116, #h2h-145,
  #h2h-174, #h2h-203, #h2h-232, #h2h-261, #h2h-290, #h2h-319, #h2h-348, #h2h-377, #h2h-406,#h2h-435, #h2h-464, #h2h-493, #h2h-522, #h2h-551, #h2h-580,
  #h2h-609, #h2h-638, #h2h-667, #h2h-696, #h2h-725, #h2h-754, #h2h-783, #h2h-812 {
    background-color: cornflowerblue;
    box-shadow: inset black 0 0 2px;
  }