body {
    margin: 0;
    background-image: url(../imgs/background.png);
    background-attachment: fixed;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.entire-page {
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-wrap: anywhere;
    background-image: linear-gradient(rgb(95, 32, 32), rgb(37, 13, 13));
    border-left:rgba(95, 32, 32, 0.281) inset 5px;
    box-shadow: 6px 0px 6px black;
    width:18vw;
    min-height: 100vh;
}

.header img {
    width:100%;
}

.logo {
    margin-top: 15px;
    width:450px;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%{
       transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(-90deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

.pages {
    margin-top: 60px;
    font-size: 24px;
    display: flex;
    gap:40px;
    flex-direction: column;
}

.headtab {
    text-decoration:none;
    color:white;
    background-color: transparent;
    font-size: 36px;
    font-weight: bold;
    border: solid black 4px;
    box-shadow: -6px -6px 0 black;
    padding: 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    width:100%;
}

.headtab:hover {
    transform: scale(1.11);
    box-shadow: black 6px 6px 0;
    text-shadow: rgb(120, 120, 120) 0 3px;
    background-color: rgba(184, 184, 184, 0.075);
    border-radius: 6px;
}

a:link, a:visited {
    color: white;
}

button a {
    display: block;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: solid white 5px;
    box-shadow: black 0 0 10px;
    text-shadow: black 0 0 10px;
    padding:15px;
    font-weight: bold;
    text-align: center;
    font-size: 88px;
    margin:20px;
    margin-top: 0;
    margin-left:23px;
}

.twitch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

iframe {
    border: solid white 5px;
    box-shadow: black 0 6px 6px;
}