body {
    margin:0;
    background-image: radial-gradient(rgb(34, 34, 34), rgb(13, 13, 13));
    background-attachment: fixed;
    height: 100%;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-wrap: anywhere;
    background-image: linear-gradient(rgb(95, 32, 32), rgb(37, 13, 13));
    box-shadow: 5px 0px 5px black;
    width:18vw;
    min-height: 100vh;
}

.rfntnotn {
    text-align: center;
    font-size: 64px;
    margin:12px;
}

.pages {
    margin-top: 60px;
    font-size: 24px;
    display: flex;
    gap:40px;
    flex-direction: column;
}

.headtab {
    text-decoration:none;
    color:white;
    background-color: transparent;
    border: solid 0;
    font-size: 36px;
    font-weight: bold;
    border: solid black 3px;
    padding: 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    width:100%;
}

.headtab:hover {
    transform: scale(1.11);
    box-shadow: black 6px 6px 0;
    background-color: rgba(184, 184, 184, 0.075);
}

li {
    list-style-type: none;
}

a:visited {
    color:white;
}

.header img {
    width:100%;
}

.logo {
    margin-top: 15px;
    width:450px;
}

button a {
    display: block;
}

