body {
    margin:0;
    background-image: url(../imgs/background.png);
    background-attachment: fixed;
    height: 100%;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-wrap: anywhere;
    background-image: linear-gradient(rgb(95, 32, 32), rgb(37, 13, 13));
    border-left:rgba(95, 32, 32, 0.281) inset 5px;
    box-shadow: 6px 0px 6px black;
    width:18vw;
    min-height: 100vh;
}

.rfntnotn {
    text-align: center;
    font-size: 64px;
    margin:12px;
}

.pages {
    margin-top: 60px;
    font-size: 24px;
    display: flex;
    gap:40px;
    flex-direction: column;
}

.headtab {
    text-decoration:none;
    color:white;
    background-color: transparent;
    font-size: 36px;
    font-weight: bold;
    border: solid black 4px;
    box-shadow: -6px -6px 0 black;
    padding: 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    width:100%;
}

a:link {
    color: white;
}

.headtab:hover {
    transform: scale(1.11);
    box-shadow: black 6px 6px;
    text-shadow: rgb(120, 120, 120) 0 3px;
    background-color: rgba(184, 184, 184, 0.075);
    border-radius: 6px;
}

li {
    list-style-type: none;
}

a:visited {
    color:white;
}

.header img {
    width:100%;
}

.logo {
    margin-top: 15px;
    width:450px;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%{
       transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(-90deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

button a {
    display: block;
}

