body {
    margin: 0;
    background-image: url(../imgs/background.png);
    background-attachment: fixed;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.entire-page {
    display: flex;
}

.tier-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-wrap: anywhere;
    background-image: linear-gradient(rgb(95, 32, 32), rgb(37, 13, 13));
    border-left:rgba(95, 32, 32, 0.281) inset 5px;
    box-shadow: 6px 0px 6px black;
    width:18vw;
    min-height: 100vh;
}

.header img {
    width:100%;
}

.logo {
    margin-top: 15px;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%{
       transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(-90deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

.pages {
    margin-top: 60px;
    font-size: 24px;
    display: flex;
    gap:40px;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: solid white 5px;
    box-shadow: black 0 0 10px;
    text-shadow: black 0 0 10px;
    padding:15px;
    font-weight: bold;
    text-align: center;
    font-size: 86px;
    margin:10px;
    margin-left:23px;
}

.tiers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    gap: 22px;
    margin-top:20px;
    padding-left: 5px;
}

.top-tier {
    display: flex;
    align-items: center;
    gap:4px;
    color: white;
    margin-bottom: 20px;
    border: solid rgb(219, 219, 219) 3px;
    border-radius: 4px;
    min-width: 334px;
    min-height: 85px;
    text-shadow: 2px 3px 2px black;
    padding: 15px 20px 15px 10px;
    font-size: 30px;
    font-weight:bold;
    text-decoration: underline;
    transition: all .2s ease-in-out;
}

.placement {
    max-width:70px;
}

.headtab {
    text-decoration:none;
    color:white;
    background-color: transparent;
    font-size: 36px;
    font-weight: bold;
    border: solid black 4px;
    box-shadow: -6px -6px 0 black;
    padding: 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    width:100%;
}

a:link, a:visited {
    color: white;
}

.headtab:hover {
    transform: scale(1.11);
    box-shadow: black 6px 6px 0;
    text-shadow: rgb(120, 120, 120) 0 3px;
    background-color: rgba(184, 184, 184, 0.075);
    border-radius: 6px;
}

.char {
    overflow: hidden;
    width: 310px;
    height: 89px;
    position: absolute;
    object-fit: none;
    object-position: 177px -8px;
    scale: 1.29;
    transition: all .2s ease-in-out;
}

button a {
    display: block;
}

#tier-1, #tier-2, #tier-3, #tier-4, #tier-5 {
    background-color: rgb(221, 46, 46);
    box-shadow: 6px 6px 0px rgb(118, 26, 26);
}

#tier-6, #tier-7, #tier-8, #tier-9, #tier-10 {
    background-color: rgb(240, 151, 50);
    box-shadow: 6px 6px 0px rgb(141, 90, 32);
}

#tier-11, #tier-12, #tier-13, #tier-14, #tier-15 {
    background-color: rgb(216, 193, 45);
    box-shadow: 6px 6px 0px rgb(164, 146, 30);
}

#tier-16, #tier-17, #tier-18, #tier-19, #tier-20 {
    background-color: rgb(60, 187, 43);
    box-shadow: 6px 6px 0px rgb(36, 121, 24);
}

#tier-21, #tier-22, #tier-23, #tier-24, #tier-25 {
    background-color: rgb(39, 156, 228);
    box-shadow: 6px 6px 0px rgb(25, 104, 153);
}

#tier-26, #tier-27, #tier-28 {
    background-color: rgb(169, 43, 211);
    box-shadow: 6px 6px 0px rgb(98, 24, 123);
}