body {
    margin: 0;
    background-image: radial-gradient(rgb(34, 34, 34), rgb(13, 13, 13));
    background-attachment: fixed;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-wrap: anywhere;
    background-image: linear-gradient(rgb(97, 32, 32), rgb(50, 17, 17));
    box-shadow: 5px 0px 5px black;
    width:18vw;
    min-height: 100vh;
}

.header img {
    width:100%;
}

.logo {
    margin-top: 15px;
    width:450px;
}

.rfntnotn {
    text-align: center;
    font-size: 64px;
    margin:12px;
}

.pages {
    margin-top: 60px;
    font-size: 24px;
    display: flex;
    gap:40px;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 88px;
    margin:30px;
}

.column {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.tiers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    gap: 20px;
}

.top-tier {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
    border: solid rgb(219, 219, 219) 3px;
    min-width: 250px;
    min-height: 75px;
    font-style: italic;
    text-shadow: 2px 4px 3px black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.headtab {
    display: block;
    text-decoration:none;
    color:white;
    background-color: transparent;
    border: solid 0;
    font-size: 32px;
    font-weight: bold;
    border: solid white 2px;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    width:100%;
}

.headtab:hover {
    /* border: rgb(153, 153, 153) solid 0;
    border-radius: 8px;
    opacity: .05; */
    transform: scale(1.11);
    box-shadow: rgb(181, 181, 181) 0 4px 0;
}

a:visited {
    color:white;
}
