body {
    margin: 0;
    background-image: radial-gradient(rgb(34, 34, 34), rgb(13, 13, 13));
    background-attachment: fixed;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
    overflow: hidden;
    width: 100%;
    color:white;
    background-image: linear-gradient(rgb(32, 41, 97), rgb(17, 21, 50));
    box-shadow: 0 5px 3px black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.rfntnotn {
    text-align: center;
    font-size: 64px;
    margin:12px;
}

.pages {
    display: flex;
    font-size: 24px;
    gap:25px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 88px;
    margin:30px;
}

.column {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.tiers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    gap: 20px;
}

.top-tier {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
    border: solid rgb(219, 219, 219) 3px;
    min-width: 400px;
    min-height: 75px;
    font-style: italic;
    text-shadow: 2px 4px 3px black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 46px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.headtab {
    color:white;
    background-color: transparent;
    border: solid 0;
    font-size: 24px;
    font-weight: bold;
    border: solid white 3px;
    border-radius: 10px;
    padding:10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.headtab:hover {
    /* border: rgb(153, 153, 153) solid 0;
    border-radius: 8px;
    opacity: .05; */
    transform: scale(1.11);
}

a:visited {
    color:white;
}
